In [1]:
import psycopg2
import pandas as pd
from vanna.remote import VannaDefault

api_key = 'a80618c02c1b4f65b35b8d5115676bed'
vanna_model_name = 'e-commercetest'
vn = VannaDefault(model=vanna_model_name, api_key=api_key)

conn = psycopg2.connect(
    dbname="vanna_rag",
    user="berdn70s",
    password="123123",
    host="localhost",
    port="5432"
)

query = "SELECT * FROM ecms_data;"
ecommerce_df = pd.read_sql(query, conn)

conn.close()

print(ecommerce_df.head())

# Burada ddl statement ile train ederken, modele datasetimizin structreini ogretiyoruz aslinda..
ddl_statement = """
CREATE TABLE ecms_data (
    accessed_date TIMESTAMP,
    duration_secs INT,
    network_protocol VARCHAR(10),
    ip VARCHAR(15),
    bytes INT,
    accessed_from VARCHAR(50),
    age INT,
    gender VARCHAR(10),
    country VARCHAR(5),
    membership VARCHAR(10),
    language VARCHAR(20),
    sales DECIMAL(10, 4),
    returned VARCHAR(5),
    returned_amount DECIMAL(10, 2),
    pay_method VARCHAR(20)
);
"""

vn.train(ddl=ddl_statement)

/var/folders/tb/8wvwh2hs0k17wzfgtw3k6xm80000gn/T/ipykernel_56356/3038457243.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecommerce_df = pd.read_sql(query, conn)

            accessed_date  duration_secs network_protocol             ip  \
0 2017-03-14 17:43:57.172           2533            TCP     1.10.195.126
1 2017-03-14 17:43:57.172           4034            TCP      1.1.217.211
2 2017-03-14 17:43:26.135           1525            TCP    1.115.198.107
3 2017-03-14 17:43:26.135           4572            TCP    1.121.152.143
4 2017-03-14 18:17:09.005           3652            TCP    1.123.135.213

    bytes    accessed_from  age  gender country membership language     sales  \
0   20100           Chrome   28  Female      CA     Normal  English  261.9600
1   20500  Mozilla Firefox   21    Male      AR     Normal  English  731.9400
2   90100  Mozilla Firefox   20    Male      PL     Normal  English   14.6200
3  100300  Mozilla Firefox   66  Female      IN     Normal  Spanish  957.5775
4  270200  Mozilla Firefox   53  Female      KR     Normal  Spanish   22.3680

  returned  returned_amount   pay_method
0       No              0.0  Credit Card
1       No              0.0   Debit Card
2       No              0.0         Cash
3       No              0.0  Credit Card
4       No              0.0         Cash
Adding ddl:
CREATE TABLE ecms_data (
    accessed_date TIMESTAMP,
    duration_secs INT,
    network_protocol VARCHAR(10),
    ip VARCHAR(15),
    bytes INT,
    accessed_from VARCHAR(50),
    age INT,
    gender VARCHAR(10),
    country VARCHAR(5),
    membership VARCHAR(10),
    language VARCHAR(20),
    sales DECIMAL(10, 4),
    returned VARCHAR(5),
    returned_amount DECIMAL(10, 2),
    pay_method VARCHAR(20)
);

'316585-ddl'

In [2]:
# Modeli sql queryleri ile egitirken  "SELECT * from ecmcs_data" gibi basit querylerle egitmek yerine
# Dataset hakkinda daha cok bilgi edinebilecegi asagidaki query gibi sql queryleri ile egitmemiz gerekiyor.
sample_sql = """
SELECT country, COUNT(*) FROM ecms_data GROUP BY country;
SELECT pay_method, SUM(sales) FROM ecms_data WHERE returned = 'no' GROUP BY pay_method;
"""
vn.train(sql=sample_sql)

Question generated with sql: 1. What is the distribution of data by country?
2. What is the total sales amount per payment method for non-returned items?
Adding SQL...

'2a3b46699dff89adecb8ef85b02c8679-sql'

In [3]:
#Hem soruyu verip hem cevabi koymak, modeli egitmenin en direkt, efektif ve faydali yolu.
vn.train(
    question="What is the average sales of our customers?", 
    sql="SELECT AVG(sales) FROM customers"
)

'46e452793a2bdae69e2ea33ed16b8e8d-sql'

In [ ]:

from vanna.flask import VannaFlaskApp
vn.connect_to_postgres(host='localhost', dbname='vanna_rag', user='berdn70s', password='123123', port='5432')
app = VannaFlaskApp(vn,allow_llm_to_see_data=True)
app.run()

Your app is running at:
http://localhost:8084
 * Serving Flask app 'vanna.flask'
 * Debug mode: on
{}
{}
{}
[{'function_name': 'get_most_common_network_protocol', 'description': 'What is the most common network protocol?', 'post_processing_code_template': '', 'arguments': [], 'sql_template': 'SELECT DISTINCT network_protocol FROM ecms_data;'}]
old_function_name get_most_common_network_protocol
updated_function {'arguments': [], 'description': 'What is the most common network protocol?', 'function_name': 'get_most_common_network_protocol', 'post_processing_code_template': '', 'sql_template': 'SELECT DISTINCT network_protocol FROM ecms_data;'}
variables {'input': {'old_function_name': 'get_most_common_network_protocol', 'arguments': [], 'description': 'What is the most common network protocol?', 'function_name': 'get_most_common_network_protocol', 'post_processing_code_template': '', 'sql_template': 'SELECT DISTINCT network_protocol FROM ecms_data;'}}